<script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
<script src="https://files.bpcontent.cloud/2024/11/15/15/20241115154507-SKR5YBR1.js"></script>

<footer class="bg-secondary text-white text-center py-3">
    <div class="container">
      <p>&copy; 2024 eXPRESSO</p>
      <p>Designed by <a href="#" class="text-white">@thenameismonisha</a></p>
      <p>Follow us: 
        <a href="#" class="text-white mx-2"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="text-white mx-2"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" class="text-white mx-2"><i class="fa-brands fa-instagram"></i></a>
      </p>
    </div>
  </footer>