<div class="container mt-5">
  <form class="d-flex" action="/search" method="GET">
    <!-- Input Group for Icon Inside the Input -->
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-magnifying-glass"></i> <!-- Search Icon -->
      </span>
      <input class="form-control" type="text" name="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-outline-success ms-2" type="submit">Search</button>
  </form>
</div>
